.enterprise {
    padding: 4.6rem 2rem;
    text-align: center;
    background: var(--linear-background-color);
}

.enterprise-heading-above {
    margin-bottom: 2.4rem;
}

.enterprise-heading-below {
    margin-bottom: 2.5rem;
}

.enterprise-text {
    margin-bottom: 3.2rem;
}

.enterprise-btn {
    margin-bottom: 4.6rem;
}

@media only screen and (min-width: 1024px) {
    .enterprise {
        padding: 4.6rem 15rem;
    }
}
