.header {
    padding: 2.3rem 2.8rem;
}

@media only screen and (min-width: 740px) {
    .header {
        padding: 2.3rem 5rem;
    }
  }

@media only screen and (min-width: 1024px) {
    .header {
        padding: 2.3rem 14.5rem;
    }
}
