.question {
  padding: 0 2.8rem;
}

.question-heading {
  text-align: center;
  margin-bottom: 3rem;
}

.question-heading-title {
  text-align: center;
  margin-bottom: 1.6rem;
}

.question-content-item {
  padding: 2.3rem 0;
  border-bottom: solid 1px var(--silver-color);
}

.content-item-heading {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.content-item-title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: var(--black-color);
}

.content-item-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 1.6rem;
  color: var(--black-color);
}

.content-item-btn {
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .question {
    padding: 0 20rem;
  }
}
