/* Button auth mobile */
.btn-sign-in {
  padding: 0.8rem 1.3rem;
  color: var(--blackblue-color);
  background-color: var(--light-color);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  border-radius: 0.4rem;
  margin-right: 1rem;
  display: inline-block;
}

.btn-sign-up {
  padding: 0.7rem 1.2rem;
  color: var(--light-color);
  background-color: var(--primary-color);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  border-radius: 0.4rem;
  border: 1px solid var(--light-color);
  display: inline-block;
}

/* Button auth tablet and desktop */
@media only screen and (min-width: 768px){
  .btn-sign-in {
    min-width: 10.2rem;
    width: 100%;
    max-height: 4.3rem;
    height: 100%;
    padding: 1rem 0 0.9rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--blackblue-color);
    background-color: var(--light-color);
    border: 1px solid var(--primary-color);
    margin-right: 2.4rem;
  }
  .btn-sign-up {
    min-width: 11rem;
    width: 100%;
    max-height: 4.3rem;
    height: 100%;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    padding: 1rem 0 0.9rem;
    color: var(--light-color);
    background-color: var(--primary-color);
    border: none;
  }
}

.btn-primary {
  padding: 1.1rem 1.8rem;
  background-color: var(--primary-color);
  color: var(--light-color);
  border-radius: 0.8rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.1rem;
  display: inline-block;
}

.btn-light {
  padding: 1.1rem 1.8rem;
  background-color: var(--light-color);
  color: var(--primary-color);
  border-radius: 0.8rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.1rem;
  display: inline-block;
}