.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
}

.nav-logo-text {
        font-weight: 700;
        font-size: 3rem;
        line-height: 2.8rem;
        color: var(--blackblue-color);
}

/* Mobile nav */

.nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.3);
    display: none;
}

.nav-action {
    display: none;
}

.nav-action:checked ~ .nav-overlay {
    display: block;
}

.nav-action:checked ~ .nav-mobile {
    transform: translateX(0%);
    opacity: 1;
}

.fa-bars {
    font-size: 2.4rem;
    color: var(--blackblue-color);
}

.nav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    max-width: 100%;
    background-color: var(--primary-color);
    transform: translateX(100%);
    opacity: 0;
    transition: linear 0.2s;
}
.nav-mobile-list {
    margin-top: 3rem;
    padding: 0 1.6rem;
}
.nav-mobile-link {
    color: var(--light-color);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.8rem;
}

.fa-xmark {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.6rem;
    color: var(--light-color);
}

.nav-header-auth {
    display: flex;
    margin: 2rem 1rem;
    flex-wrap: wrap;
    gap: 0.5rem;
}

/* Tab nav */
.nav-tablet {
    align-items: center;
    gap: 2.4rem;
    display: none;
}

.nav-tablet-list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-tablet-link {
    color: var(--black-color);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.8rem;
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .nav {
        display: block;
    }
    .nav-logo {
       justify-content: center;
       margin-bottom: 3rem;
    }
    .nav-tablet {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-mobile, .nav-bars-btn {
        display: none;
    }
  }

  /* PC nav */
  @media only screen and (min-width: 1024px) {
    .nav-mobile, .nav-bars-btn {
        display: none;
    }
    .nav {
        display: flex;
    }
    .nav-tablet {
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }


