* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.header {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}
ul {
    position: relative;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.container {
    padding: 10px 50px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-gap: 10px;
}
.container > div {
    padding: 70px;
}
.item1, .item2 {
    grid-column: 1 / 3 ;
}
.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}