<section class="benefit">
  <h2 class="title-large benefit-heading">Product is being used with great effects alongside:</h2>
  <div class="benefit-main">
    <img src="./assets/images/benefit-mobile.png" alt="Benefit image" class="benefit-mobile-img">
    <img src="./assets/images/benefit-desktop.png" alt="Benefit image" class="benefit-desktop-img">
    <article class="benefit-content">
      <div class="benefit-content-list">
        <div class="benefit-content-item">
          <div class="benefit-content-title">
            <img src="./assets/images/enterpreneur.png" alt="Content title image" class="content-title-img">
            <h3 class="title-medium content-title-text">Enterpreneur</h3>
          </div>
          <p class="benefit-content-des">Product is a great way to help medium and 
            samall enterprise owners achieve their goals</p>
        </div>
        <div class="benefit-content-item">
          <div class="benefit-content-title">
            <img src="./assets/images/accountants.png" alt="Content title image" class="content-title-img">
            <h3 class="title-medium content-title-text">Accountants</h3>
          </div>
          <p class="benefit-content-des">Whether you are working on contract with clients, 
            or on other key accounting documents, Product is for you</p>
        </div>
        <div class="benefit-content-item">
          <div class="benefit-content-title">
            <img src="./assets/images/universities.png" alt="Content title image" class="content-title-img">
            <h3 class="title-medium content-title-text">Universities</h3>
          </div>
          <p class="benefit-content-des">Organize university projects and 
            have documents easily graded online with Product</p>
        </div>
      </div>
    </article>
  </div>
</section