<footer class="footer">
  <div class="footer-main">
    <div class="footer-media">
      <img src="./assets/images/logo.png" alt="" class="footer-media-img">
      <div class="footer-media-icons">
        <a href=""><img src="./assets/images/instagram-icon.png" alt="" class="footer-media-ins"></a>
        <a href=""><img src="./assets/images/facebook-icon.png" alt="" class="footer-media-fb"></a>
        <a href=""><img src="./assets/images/twitter-icon.png" alt="" class="footer-media-twi"></a>
      </div>
    </div>
    <div class="footer-info">
      <h4 class="footer-info-title">Resource</h4>
      <a href="" class="footer-info-link">About Us</a>
      <a href="" class="footer-info-link">Blog</a>
      <a href="" class="footer-info-link">Contact</a>
      <a href="" class="footer-info-link">FAQ</a>
    </div>
    <div class="footer-legal">
      <h4 class="footer-legal-title">Legal Stuff</h4>
      <a href="" class="footer-legal-link">Disclaimer</a>
      <a href="" class="footer-legal-link">Financing</a>
      <a href="" class="footer-legal-link">Privacy Policy</a>
      <a href="" class="footer-legal-link">Terms of Service</a>
    </div>
    <figure class="footer-signup">
      <figcaption class="footer-signup-caption">knowing you're always on the best energy deal. 
      </figcaption>
      <input type="text" class="footer-signup-input">
      <a href="" class="btn-primary footer-signup-btn">Sign up Now</a>
    </figure>
  </div>
  <div class=".footer-text">Made With Love By Product All Right Reserved </div>
</footer>