<footer class="footer">
  <div class="footer-main">
    <div class="footer-media">
      <div class="footer-media-logo">
        <img src="./assets/images/logo.png" alt="" class="header-logo-img">
        <h1 class="header-logo-text">Product</h1>
      </div>
      <div class="footer-media-icons">
        <a href=""><img src="./assets/images/instagram-icon.png" alt="Instagram icon" class="footer-media-ins"></a>
        <a href=""><img src="./assets/images/facebook-icon.png" alt="Facebook icon" class="footer-media-fb"></a>
        <a href=""><img src="./assets/images/twitter-icon.png" alt="Twitter icon" class="footer-media-twi"></a>
      </div>
    </div>
    <div class="footer-info">
      <h4 class="footer-info-title">Resource</h4>
      <ul class="footer-info-list">
        <li><a href="" class="footer-info-link">About Us</a></li>
        <li><a href="" class="footer-info-link">Blog</a></li>
        <li><a href="" class="footer-info-link">Contact</a></li>
        <li><a href="" class="footer-info-link">FAQ</a></li>
      </ul>
    </div>
    <div class="footer-legal">
      <h4 class="footer-legal-title">Legal Stuff</h4>
      <ul class="footer-legal-list">
        <li><a href="" class="footer-legal-link">Disclaimer</a></li>
        <li><a href="" class="footer-legal-link">Financing</a></li>
        <li><a href="" class="footer-legal-link">Privacy Policy</a></li>
        <li><a href="" class="footer-legal-link">Terms of Service</a></li>
      </ul>
    </div>
    <form class="footer-signup">
      <p class="footer-signup-caption">knowing you're always on the best energy deal.</p>
      <input type="text" class="footer-signup-input">
      <button class="btn-primary footer-signup-btn">Sign up Now</button>
    </form>
  </div>
  <p class="footer-text">Made With Love By Product All Right Reserved </p>
</footer>