<header class="header">
  <nav class="nav">
    <div class="nav-logo">
      <img src="./assets/images/logo.png" alt="" class="nav-logo-img">
      <h2 class="nav-logo-text">Product</h2>
    </div>  
    <label for="nav-menu-action" class="nav-bars-btn">
      <i class="fa-solid fa-bars"></i>
    </label>
    <input type="checkbox" class="nav-action" id="nav-menu-action">
    <label for="nav-menu-action" class="nav-overlay"></label>
    <div class="nav-menu">
      <label for="nav-menu-action"><i class="fa-solid fa-xmark"></i></label>
      <ul class="nav-menu-list">
        <li><a href="" class="nav-menu-link">Product</a></li>             
        <li><a href="" class="nav-menu-link">Customers </a></li>
        <li><a href="" class="nav-menu-link">Pricing</a></li>
        <li><a href="" class="nav-menu-link">Resources</a></li>
      </ul>
      <div class="nav-header-auth">
        <a href="" class="nav-auth-signin">Sign In</a>
        <a href="" class="nav-auth-signup">Sign Up</a>
      </div>
      <img src="assets/images/light-mode-switch.png" alt="" class="light-mode-switch">
    </div>
  </nav>
</header>