<section class="pricing">
    <div class="pricing-heading">
      <h3 class="title-medium pricing-heading-above">PRICING</h3>
      <h2 class="title-large pricing-heading-below">Let’s get some real work done here.</h2>
      <p class="title-small pricing-heading-text">Product is your perfect solution for working. 
        Get started now for free</p>
    </div>
    <div class="pricing-list">
      <article class="pricing-item">
        <h3 class="pricing-item-title">Free</h3>
        <h5 class="pricing-item-des">Brief price description</h5>
        <div class="pricing-item-price">
          <h2 class="item-left">0</h2>
          <div class="item-right">
            <h3 class="item-right-unit">$</h3>
            <h5 class="item-right-text">Per / month</h5>
          </div>
        </div>
        <p class="pricing-item-text">Only 2 Operators</p>
        <p class="pricing-item-text">Notifications</p>
        <p class="pricing-item-text">Landing Pages</p>
        <a href="" class="btn-primary pricing-item-btn">Order Now</a>
      </article>
      <article class="pricing-item">
        <h3 class="pricing-item-title">Standard</h3>
        <h5 class="pricing-item-des">Brief price description</h5>
        <div class="pricing-item-price">
          <h2 class="item-left">5</h2>
          <div class="item-right">
            <h3 class="item-right-unit">$</h3>
            <h5 class="item-right-text">Per / month</h5>
          </div>
        </div>
        <p class="pricing-item-text">Only 2 Operators</p>
        <p class="pricing-item-text">Notifications</p>
        <p class="pricing-item-text">Landing Pages</p>
        <a href="" class="btn-primary pricing-item-btn">Order Now</a>
      </article>
      <article class="pricing-item">
        <h3 class="pricing-item-title">Premium</h3>
        <h5 class="pricing-item-des">Brief price description</h5>
        <div class="pricing-item-price">
          <h2 class="item-left">10</h2>
          <div class="item-right">
            <h3 class="item-right-unit">$</h3>
            <h5 class="item-right-text">Per / month</h5>
          </div>
        </div>
        <p class="pricing-item-text">Only 2 Operators</p>
        <p class="pricing-item-text">Notifications</p>
        <p class="pricing-item-text">Landing Pages</p>
        <a href="" class="btn-primary pricing-item-btn">Order Now</a>
      </article>
    </div>
  </section>