<section class="question">
  <div class="question-heading">
    <h2 class="title-large question-heading-title">Frequently asked question</h2>
    <p class="title-small question-heading-text">Something is not clear? You need help? Check our FAQ section</p>
  </div>
  <div class="question-content">
    <div class="question-content-item">
      <div class="content-item-heading">
        <button class="content-item-btn">
          <img src="./assets/images/plus-circle.png" alt="Minus cirle icon" >
        </button>
        <h4 class="content-item-title">What are my payment option?</h4>
      </div>
    </div>
    <div class="question-content-item">
      <div class="content-item-heading">
        <button class="content-item-btn">
          <img src="./assets/images/minus-circle.png" alt="Minus cirle icon" >
        </button>
        <h4 class="content-item-title">How can I invite collaborator to platform?</h4>
      </div>
      <p class="content-item-text">
        After creating your account you will have an oppurtunity to create your first project 
        that will be associated withthe collaborators e-mail. An invitation  will be sent automatically. 
        Then, invited user will have to confirm his account by e-mail and finish userd onboarding.
      </p>
    </div>
    <div class="question-content-item">
      <div class="content-item-heading">
        <button class="content-item-btn">
          <img src="./assets/images/plus-circle.png" alt="Minus cirle icon" >
        </button>
        <h4 class="content-item-title">Can I upgrade my plan?</h4>
      </div>
    </div>
    <div class="question-content-item">
      <div class="content-item-heading">
        <button class="content-item-btn">
          <img src="./assets/images/plus-circle.png" alt="Minus cirle icon" >
        </button>
        <h4 class="content-item-title">Can I cancel my plan at anytime?</h4>
      </div>
    </div>
  </div>
</section>