.features {
    margin-top: 100px;
    padding: 81px 235px 90px 235px;
  }

  .features-header {
    text-align: center;
  }

  .features-header .features-header-above {
    font-size: 22px;
    font-weight: 700;
    line-height: calc(33 / 22);
    letter-spacing: 0.1px;
    margin-bottom: 17px;
    color: var(--text-color);
  }

  .features-header .features-header-below {
    font-size: 46px;
    font-weight: 400;
    line-height:  calc(57 / 46);
    letter-spacing: 0.2px;
    margin-bottom: 27px;
    color: var(--text-color);
  }

  .features-header .features-header-text {
    max-width: 309px;
    font-size: 16px;
    font-weight: 700;
    line-height: calc(20 / 16);
    letter-spacing: 0.2px;
    color: var(--second-text-color);
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .features-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 52px;
  }

  .features-item-title {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  .features-item-title .item-title-img {
    width: 44px;
    height: 44px;
    margin: auto;
  }

  .features-item-title .item-title-text {
    font-size: 22px;
    font-weight: 700;
    line-height: calc(33 / 22);
    letter-spacing: 0.1px;
    color: var(--text-color) ;
  }
  
  .features-item .des {
    font-size: 18px;
    font-weight: 400;
    line-height: calc(27 / 18);
    letter-spacing: 0.2px;
    color: var(--second-text-color);
  }