.contact {
    padding: 95px 300px;
    background-color: $text-color ;
}
.contact-heading {
    font-weight: 400;
    font-size: 46px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: $lightText-color;
    margin-bottom: 27px;
}
.contact-text {
    max-width: 310px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    text-align: center;
    letter-spacing: 0.2px;
    color: $lightText-color;
    margin-bottom: 60px;
}
.contact-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 65px;
}
.contact-form {
    width: 75%;
    background-color: $lightText-color;
    padding: 79px 41px 26px 41px;
    border-radius: 13.0742px;
}
.contact-form input {
    width: 100%;
    padding: 12px 13px;
    background-color: #F5F5F5;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    margin-bottom: 31px;
}
.contact-form textarea{
    width: 100%;
    height: 126px;
    padding: 15px 13px;
    background: #F5F5F5;
    border: 0.65371px solid #E8E8E8;
    resize: none;
    margin-bottom: 31px;
}
.contact-form .form-btn {
    padding: 12px 35px;
    background: #EF2779;
    border-radius: 35px;
    color: $lightText-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
}
.contact-info .info-details {
    display: flex;
    align-items: center;
    gap: 0 20px;
    margin-bottom: 30px;
}
.contact-info .info-details h5 {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: $lightText-color;
}
.contact-info .info-social {
    display: flex;
    align-items: center;
    gap: 0 32px;
    margin-top: 78px;
}