$font: 'Roboto', sans-serif;
$text-color: #252B42;
$secondText-color: #374754;
$lightText-color: #FFFFFF;
$primary-color: #EF2779;
$secondary-color: #38A3F1;
$dark-background:#252B42;
$background-gardient: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);